VITE_SUPABASE_URL=https://igdjfobysimpsjvcjsrz.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImlnZGpmb2J5c2ltcHNqdmNqc3J6Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTg2MDgxNzMsImV4cCI6MjA3NDE4NDE3M30.pOyZRX5kDijhG98BBwfnNV9HmabxqysIga_RxHm5PvQ